/* Write your code here: */
h1 , h2{
    color: blueviolet;
}
/* Below is the example for child and parent combine selector */
/* Child should be immediate to the parent */
.box > p{ 
    color: firebrick;
}
.list li{
    color: blue;
}
li.done{
    color: seagreen;
}
ul p.done{
    font-size: 0.5rem;
}

